@font-face {
    font-family: 'retro_gaming';
    src: url('app/static/retro_gaming-webfont.woff2') format('woff2'),
         url('app/static/retro_gaming-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'upheaval';
    src: url('app/static/upheavtt-webfont.woff2') format('woff2'),
         url('app/static/upheavtt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

h1 {
    font-family: 'upheaval';
    font-size: 4em;
    text-align: center;
    text-transform: uppercase;
}

body, p {
    font-family: "retro_gaming";
}

p {
    text-align: center;
}

.stAppViewBlockContainer {
    max-width: 52rem;
}

a[href="app"]::before {
    content: "";
    background-image: url('app/static/home.png');
    display: inline-block;
    background-size: 60px 60px;
    width: 60px;
    height: 60px;
}

a[href="budget-dashboard"]::before {
    content: "";
    background-image: url('app/static/coin.png');
    display: inline-block;
    background-size: 60px 60px;
    width: 60px;
    height: 60px;
}

a[href="quizzes"]::before {
    content: "";
    background-image: url('app/static/showdown.png');
    display: inline-block;
    background-size: 60px 60px;
    width: 60px;
    height: 60px;
}

a[href="advising"]::before {
    content: "";
    background-image: url('app/static/scroll.png');
    display: inline-block;
    background-size: 60px 60px;
    width: 60px;
    height: 60px;
}
