@font-face {
    font-family: 'retro_gaming';
    src: url('app/static/retro_gaming-webfont.woff2') format('woff2'),
         url('app/static/retro_gaming-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'upheaval';
    src: url('app/static/upheavtt-webfont.woff2') format('woff2'),
         url('app/static/upheavtt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

h1 {
    font-family: 'upheaval';
    font-size: 4em;
    text-align: center;
    text-transform: uppercase;
}

body, p {
    font-family: "retro_gaming";
}

p {
    text-align: center;
}

.stAppViewBlockContainer {
    max-width: 52rem;
}

/* static/style.css */
.sidebar .h2 {
    font-size: 1.5em;
    color: #4CAF50; /* Green color for visibility */
}

.sidebar .h3 {
    font-size: 2em;
    color: #4CAF50; /* Green color for visibility */
