@font-face {
    font-family: 'retro_gaming';
    src: url('app/static/retro_gaming-webfont.woff2') format('woff2'),
         url('app/static/retro_gaming-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'upheaval';
    src: url('app/static/upheavtt-webfont.woff2') format('woff2'),
         url('app/static/upheavtt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

h1 {
    font-family: 'upheaval';
    font-size: 4em;
    text-align: center;
    text-transform: uppercase;
}

body, p {
    font-family: "retro_gaming";
}

p {
    text-align: center;
}

.stAppViewBlockContainer {
    max-width: 52rem;
}

a[href="app"]::before {
    content: "";
    background-image: url('app/static/home.png');
    display: inline-block;
    background-size: 60px 60px;
    width: 60px;
    height: 60px;
}

a[href="budget-dashboard"]::before {
    content: "";
    background-image: url('app/static/coin.png');
    display: inline-block;
    background-size: 60px 60px;
    width: 60px;
    height: 60px;
}

a[href="quizzes"]::before {
    content: "";
    background-image: url('app/static/showdown.png');
    display: inline-block;
    background-size: 60px 60px;
    width: 60px;
    height: 60px;
}

a[href="advising"]::before {
    content: "";
    background-image: url('app/static/scroll.png');
    display: inline-block;
    background-size: 60px 60px;
    width: 60px;
    height: 60px;
}

/* static/style.css */
.sidebar .h2 {
    font-size: 1.5em;
    color: #4CAF50; /* Green color for visibility */
}

.sidebar .h3 {
    font-size: 2em;
    color: #4CAF50; /* Green color for visibility */
}

div[data-testid="stVerticalBlockBorderWrapper"]:has(
      >div>div>div[data-testid="element-container"]
      #after-gpt
    ) {
    image-rendering: pixelated;
    border-image: url('app/static/speech_bubble_squircle.png') 10 fill/30px;
    color: black;
    padding: 30px;
    margin-top: -20px;
}

div[data-testid="stVerticalBlockBorderWrapper"]:has(
      >div>div>div[data-testid="element-container"]
      #after-gpt
    ) h3, li, td{
    font-family: 'retro_gaming';
    color: black;
}

#character_parent {
    display: flex;
}

#character {
    image-rendering: pixelated;
    width: 250px;
    align-self: end;
}

#bubble_tail {
    image-rendering: pixelated;
    width: 130px;
    align-self: end;
}
